In [1]:
"""Q1. Create one variable containing following type of data:
(i) string"""
a = "xyz"

In [2]:
#(ii) list
b = [123, 456, "abc"]

In [4]:
#(iii) float
c = 14.18

In [ ]:
#(iv) tuple
d = (True, False, 1.42)

In [ ]:
"""Q2. Given are some following variables containing data:"""
#(i)
var1 = ' '
type(var1)

In [ ]:
#(ii)
var2 = '[ DS , ML , Python]'
type(var2)

In [ ]:
#iii 
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

In [ ]:
#iv
var4 = 1
type(var4)

Q3. Explain the use of the following operators using an example:
(i) / - Division(float) operator. Provides answer in floating quotient form. 
(ii) % - Remainder operator. Provides the remainder when two operands are divided.
(iii) // - Division(floor)operator. Provides quotient in the nearest smaller number.
(iv) ** - Power operator. Raises the first operand to the power of second operand.

In [10]:
"""Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type."""
l = [10 , 'abc', 14.1, 7+6j, 'xyz', 123, 456, 24.08, 8+9j, 'qwe']
for a1 in l :
    print (a1, type(a))

10 <class 'str'>
abc <class 'str'>
14.1 <class 'str'>
(7+6j) <class 'str'>
xyz <class 'str'>
123 <class 'str'>
456 <class 'str'>
24.08 <class 'str'>
(8+9j) <class 'str'>
qwe <class 'str'>

In [12]:
"""Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible."""
A = int(input ("Enter value for A - "))
B = int(input ("Enter value for B - "))
C = 0
while A % B == 0 :
    A = A/B
    C +=1
if C > 0 :
    print("A is divisible by B", C ,"Times")
else :
    print("A is not divisible by B")

Enter value for A -  17
Enter value for B -  2

A is not divisible by B

In [ ]:
"""Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not."""
list1 = list(range(1, 26))
for z in list1 :
    if z%3 == 0 :
        print(z,"is divisible by 3")
    else : 
        print(z,"is not divisible by 3")

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.
Ans. Mutable data types allow you to change it's values on the other hand immutable data types do not allow you to change their values.

In [3]:
#Eg. of Mutable object - 
l = ["abc" , "utkarsh" , 123] 
print (l)
l[0] = 123
print (l)

['abc', 'utkarsh', 123]
[123, 'utkarsh', 123]

In [4]:
#Eg. of Immutable object - 
u = 'utkarsh'
print(u)
u[0] = 'r'
print(u)

utkarsh

TypeError: 'str' object does not support item assignment